.slickr-flickr-galleria { margin: 0px auto; overflow: auto;}
.slickr-flickr-galleria.landscape { width: 600px; }
.slickr-flickr-galleria.portrait { width: 500px; }
.slickr-flickr-galleria div.galleria_container {background-color:transparent; margin-bottom: 15px; text-align:center; }
.slickr-flickr-galleria div.galleria_container img {margin-bottom: 5px;}
.slickr-flickr-galleria span.caption{font-style:italic;color:#887;text-align:center;}
.slickr-flickr-galleria p {text-align: center;}
.slickr-flickr-galleria p.slickr-flickr-attribution { font-style: italic; margin-bottom: 0px;}
.slickr-flickr-galleria p.nav{padding-top:15px;clear:both;font:80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}
.slickr-flickr-galleria p.nav a{color:#348;text-decoration:none;outline:none;}
.slickr-flickr-galleria p.nav a:hover{color:#67a;}